[submodule "themes/finite"]
	path = themes/finite
	url = https://github.com/lambdafu/hugo-finite
[submodule "baxterdal.github.io"]
	path = baxterdal.github.io
	url = git@github.com:baxterdal/baxterdal.github.io
